footer{
    background-color: #AB131B;
    margin-top: 30px;
    padding: 10px;
}
p, a{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
a{
    text-decoration: underline;
}
a:hover{
    color: #148F6A;
}
