<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/">PapaJohnsCloneTest1</a>
  <a class="navbar-brand" routerLink="/shopping-cart">
    <i class="fa fa-shopping-cart" aria-hidden="true" [routerLink]="['/shopping-cart']"></i>
    <span class="countShoppingItems_M">{{countShoppingItems}} items</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" 
      routerLinkActive="active" [routerLinkActiveOptions]="{exact: ture}"
      *ngFor="let category of categoryArr">
        <a class="nav-link" [routerLink]="['/main', category.id]">{{category.name | uppercase}}</a>
      </li>
    </ul>
  </div>
</nav>