<!-- Item name -->
<h3 class="wrapper_M">{{'Your shopping cart' | uppercase}}</h3>

<h4 *ngIf="shoppingItemArr.length==0" class="wrapper_M text-danger">Nothing in the shoppping cart</h4>

<div class="container" class="wrapper_M">
    <div class="row" *ngFor="let item of shoppingItemArr">
        <div class="col-md-auto">
            <img [src]="'./assets/itemImages/'+ item.itemCategoryId + '_' + item.itemId + '.jpg'"
            [alt]="item.name">
        </div>
        <div class="col-5">
            <b>{{item.name}}</b>
            <p *ngIf="item.description != ''">{{item.description}}</p>
        </div>
        <div class="col-md-auto">
            <app-quantity-dropdown (click)="onQuantityDropDownClick(item)" (onQuantityChangedOutput)="onQuantityChangedOutput($event)" [initialQuantity]="item.quantity"></app-quantity-dropdown>
            <app-price-box [price]="item.price*item.quantity"></app-price-box>
            <button type="button" class="btn btn-dark" (click)="onRemoveItem(item)">x</button>
        </div>
    </div>
</div>
<div class="wrapper_M">
    <h4 class="grey_M"><div class="priceSummary_M">Subtotal:</div>{{subtotal | currency:'USD':true}}</h4>
    <h4 class="grey_M"><div class="priceSummary_M grey_M">Subtotal:</div>{{subtotal | currency:'USD':true}}</h4>
    <h4 class="grey_M"><div class="priceSummary_M grey_M">Estimated tax:</div>{{subtotal*0.05 | currency:'USD':true}}</h4>
    <h4><div class="priceSummary_M">Total:</div>{{subtotal + subtotal*0.05 | currency:'USD':true}}</h4>
</div>